{% extends "events/base_header_and_footer.html" %} 
{% block content %} 
{% load static %}

    <div class="row">
      <nav
        id="sidebarMenu"
        class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
      >
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="mb-1">
              <button
                class="btn d-inline-flex align-items-center rounded btn-info"
                data-bs-toggle="collapse"
                data-bs-target="#customize-collapse"
                aria-expanded="true"
              >
                Browse Categories
              </button>
              <br /><br />
              <div class="collapse show" id="customize-collapse" style="">
                <ul class="list-unstyled fw-normal pb-1">
                  {% for cate in categories %}
                  <li>
                    <a
                      href="{% url 'event_list' category_pk=cate.pk %}"
                      class="d-inline-flex align-items-center rounded"
                      >{{cate.e_category}}</a
                    >
                  </li>
                  {% endfor %}

                  <li>
                    <form>
                      <input type="hidden" id="user_location" name="user_location" value="_">
                      <button class="btn" type="submit">Get Local events</button>
                    </form>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <!-- below code is for tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="home-tab"
              data-bs-toggle="tab"
              data-bs-target="#home"
              type="button"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              GENERALIZED EVENTS
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#profile"
              type="button"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              PERSONALIZED
            </button>
          </li>
        </ul>
        <!-- above code is for tabs -->

        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
            >
              
            </div>



            {% if user_click_recommendations_active %}
            <h2 class="h2">Based on your past browsing</h2>
             <div
                class="tab-pane fade show active"
                id="pills-home"
                role="tabpanel"
                aria-labelledby="pills-home-tab"
              >
                <div class="wrapper">
                  <div
                    id="carouselExampleIndicators"
                    class="carousel slide"
                    data-bs-ride="carousel"
                  >
                    <div class="carousel-indicators">
                      <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"
                      ></button>
                      <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"
                      ></button>
                      <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"
                      ></button>
                    </div>


                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row row-cols-0 row-cols-md-4 g-4">

                        {% for eve in user_click_recommendations_active %}
                            {% comment %} Single card below start {% endcomment %}
                            <div class="col-sm-3">
                              <div class="card" style="width: 18rem">
                                <img src="{% static eve.e_image_link %}" class="card-img-top" alt="..." />
                                <div class="card-body">
                                  <h5 class="card-title">
                                    {{eve.e_name}}
                                  </h5>
                                  <p class="card-text">
                                    {{eve.e_description|truncatewords:20}}
                                  </p>
                                    {% if user.is_authenticated %}
                                        <a
                                          href="{% url 'event_detail' eve.pk %}"
                                          onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                                          class="btn btn-primary"
                                          >View more</a
                                        >
                                     {% else %}
                                        <a
                                          href="{% url 'event_detail' eve.pk %}"
                                          class="btn btn-primary"
                                          >View more</a
                                        >
                                    {% endif %}
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>


                    {% if user_click_recommendations %}
                        {% for listy in user_click_recommendations %}
                            <div class="carousel-item">
                              <div class="row">

                                {% for eve in listy%}
                                    {% comment %} Single card below start {% endcomment %}
                                    <div class="col-sm-3">
                                      <div class="card" style="width: 18rem">
                                        <img src="{% static eve.e_image_link %}" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                          <h5 class="card-title">
                                            {{eve.e_name}}
                                          </h5>
                                          <p class="card-text">
                                            {{eve.e_description|truncatewords:20}}
                                          </p>
                                          {% if user.is_authenticated %}
                                              <a
                                                href="{% url 'event_detail' eve.pk %}"
                                                onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                                                class="btn btn-primary"
                                                >View more</a
                                              >
                                          {% else %}
                                              <a
                                                href="{% url 'event_detail' eve.pk %}"
                                                class="btn btn-primary"
                                                >View more</a
                                              >
                                          {% endif %}
                                        </div>
                                      </div>
                                    </div>
                                    {% comment %} Single card below end {% endcomment %}
                                {% endfor %}
                                
                              </div>
                            </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                    
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="prev"
                    >
                      <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="next"
                    >
                      <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
            {% endif %}

            <br>

            {% comment %} new code  below {% endcomment %}

          {% if user_browse_recommendations_active %}
            <h2 class="h2">Based on your Past Search history</h2>
             <div
                class="tab-pane fade show active"
                id="pills-home"
                role="tabpanel"
                aria-labelledby="pills-home-tab"
              >
                <div class="wrapper">
                  <div
                    id="carouselExampleIndicators2"
                    class="carousel slide"
                    data-bs-ride="carousel"
                  >
                    <div class="carousel-indicators">
                      <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators2"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"
                      ></button>
                      <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators2"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"
                      ></button>
                      <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators2"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"
                      ></button>
                    </div>


                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row row-cols-0 row-cols-md-4 g-4">

                        {% for eve in user_browse_recommendations_active %}
                            {% comment %} Single card below start {% endcomment %}
                            <div class="col-sm-3">
                              <div class="card" style="width: 18rem">
                                <img src="{% static eve.e_image_link %}" class="card-img-top" alt="..." />
                                <div class="card-body">
                                  <h5 class="card-title">
                                    {{eve.e_name}}
                                  </h5>
                                  <p class="card-text">
                                    {{eve.e_description|truncatewords:20}}
                                  </p>
                                    {% if user.is_authenticated %}
                                        <a
                                          href="{% url 'event_detail' eve.pk %}"
                                          onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                                          class="btn btn-primary"
                                          >View more</a
                                        >
                                     {% else %}
                                        <a
                                          href="{% url 'event_detail' eve.pk %}"
                                          class="btn btn-primary"
                                          >View more</a
                                        >
                                    {% endif %}
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>


                    {% if user_browse_recommendations %}
                        {% for listy in user_browse_recommendations %}
                            <div class="carousel-item">
                              <div class="row">

                                {% for eve in listy%}
                                    {% comment %} Single card below start {% endcomment %}
                                    <div class="col-sm-3">
                                      <div class="card" style="width: 18rem">
                                        <img src="{% static eve.e_image_link %}" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                          <h5 class="card-title">
                                            {{eve.e_name}}
                                          </h5>
                                          <p class="card-text">
                                            {{eve.e_description|truncatewords:20}}
                                          </p>
                                          {% if user.is_authenticated %}
                                              <a
                                                href="{% url 'event_detail' eve.pk %}"
                                                onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                                                class="btn btn-primary"
                                                >View more</a
                                              >
                                          {% else %}
                                              <a
                                                href="{% url 'event_detail' eve.pk %}"
                                                class="btn btn-primary"
                                                >View more</a
                                              >
                                          {% endif %}
                                        </div>
                                      </div>
                                    </div>
                                    {% comment %} Single card below end {% endcomment %}
                                {% endfor %}
                                
                              </div>
                            </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                    
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#carouselExampleIndicators2"
                      data-bs-slide="prev"
                    >
                      <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#carouselExampleIndicators2"
                      data-bs-slide="next"
                    >
                      <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                      ></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
            {% endif %}
            {% comment %} new code above {% endcomment %}

            <br>



          <div class="container-fluid">

            {% if Gaming %}
              <h2>Trending events in Gaming</h2>
              <hr>
                <div class="row">
                  {% for event in Gaming%}
                  <div class="col-sm-4">
                    <div class="card" style="width: 18rem">
                      <img
                        src="{% static event.e_image_link %}"
                        height="150px"
                        wdith="200px"
                        object-fit:cover;
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">
                           {{ event.pk }} {{event.e_name}}
                        </h5>
                        <p class="card-text">
                          {{event.e_description|truncatewords:20}}
                        </p>

                        {% if user.is_authenticated %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% else %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              <hr>
            {% endif %}

            {% if Sports%}
              <h2>Trending events in Sports</h2>
              <hr>
                <div class="row">
                  {% for event in Sports%}
                  <div class="col-sm-4">
                    <div class="card" style="width: 18rem">
                      <img
                        src="{% static event.e_image_link %}"
                        height="150px"
                        wdith="200px"
                        object-fit:cover;
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">
                          {{ event.pk }} {{event.e_name}}
                        </h5>
                        <p class="card-text">
                          {{event.e_description|truncatewords:20}}
                        </p>

                        {% if user.is_authenticated %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% else %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              <hr>
            {% endif %}

            {% if Dance %}
              <h2>Trending events in Dance</h2>
              <hr>
                <div class="row">
                  {% for event in Dance%}
                  <div class="col-sm-4">
                    <div class="card" style="width: 18rem">
                      <img
                        src="{% static event.e_image_link %}"
                        height="150px"
                        wdith="200px"
                        object-fit:cover;
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">
                          {{ event.pk }} {{event.e_name}}
                        </h5>
                        <p class="card-text">
                          {{event.e_description|truncatewords:20}}
                        </p>

                        {% if user.is_authenticated %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% else %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              <hr>
            {% endif %}

            {% if Travel_and_Tourism %}
              <h2>Trending events in Travel and Tourism</h2>
              <hr>
                <div class="row">
                  {% for event in Travel_and_Tourism%}
                  <div class="col-sm-4">
                    <div class="card" style="width: 18rem">
                      <img
                        src="{% static event.e_image_link %}"
                        height="150px"
                        wdith="200px"
                        object-fit:cover;
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">
                          {{ event.pk }} {{event.e_name}}
                        </h5>
                        <p class="card-text">
                          {{event.e_description|truncatewords:20}}
                        </p>

                        {% if user.is_authenticated %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% else %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              <hr>
            {% endif %}

            {% if Live_Shows %}
              <h2>Trending events in Live Shows</h2>
              <hr>
                <div class="row">
                  {% for event in Live_Shows%}
                  <div class="col-sm-4">
                    <div class="card" style="width: 18rem">
                      <img
                        src="{% static event.e_image_link %}"
                        height="150px"
                        wdith="200px"
                        object-fit:cover;
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">
                          {{event.e_name}}
                        </h5>
                        <p class="card-text">
                          {{event.e_description|truncatewords:20}}
                        </p>

                        {% if user.is_authenticated %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% else %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              <hr>
            {% endif %}

            {% if Auto_and_Automotives %}
              <h2>Trending events in Auto and Automotives</h2>
              <hr>
                <div class="row">
                  {% for event in Auto_and_Automotives%}
                  <div class="col-sm-4">
                    <div class="card" style="width: 18rem">
                      <img
                        src="{% static event.e_image_link %}"
                        height="150px"
                        wdith="200px"
                        object-fit:cover;
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">
                          {{ event.pk }} {{event.e_name}}
                        </h5>
                        <p class="card-text">
                          {{event.e_description|truncatewords:20}}
                        </p>

                        {% if user.is_authenticated %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% else %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              <hr>
            {% endif %}

            {% if IT_and_Technology %}
              <h2>Trending events in IT and Technology</h2>
              <hr>
                <div class="row">
                  {% for event in IT_and_Technology%}
                  <div class="col-sm-4">
                    <div class="card" style="width: 18rem">
                      <img
                        src="{% static event.e_image_link %}"
                        height="150px"
                        wdith="200px"
                        object-fit:cover;
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">
                          {{ event.pk }} {{event.e_name}}
                        </h5>
                        <p class="card-text">
                          {{event.e_description|truncatewords:20}}
                        </p>

                        {% if user.is_authenticated %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% else %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              <hr>
            {% endif %}

            {% if Food_and_Beverages %}
              <h2>Trending events in Food And Bevrages</h2>
              <hr>
                <div class="row">
                  {% for event in Food_and_Beverages%}
                  <div class="col-sm-4">
                    <div class="card" style="width: 18rem">
                      <img
                        src="{% static event.e_image_link %}"
                        height="150px"
                        wdith="200px"
                        object-fit:cover;
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">
                          {{ event.pk }} {{event.e_name}}
                        </h5>
                        <p class="card-text">
                          {{event.e_description|truncatewords:20}}
                        </p>

                        {% if user.is_authenticated %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% else %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              <hr>
            {% endif %}

            {% if Wellness_Health_and_Fitness %}
              <h2>Trending events in Wellness, Health and fitness</h2>
              <hr>
                <div class="row">
                  {% for event in Wellness_Health_and_Fitness%}
                  <div class="col-sm-4">
                    <div class="card" style="width: 18rem">
                      <img
                        src="{% static event.e_image_link %}"
                        height="150px"
                        wdith="200px"
                        object-fit:cover;
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">
                          {{ event.pk }} {{event.e_name}}
                        </h5>
                        <p class="card-text">
                          {{event.e_description|truncatewords:20}}
                        </p>

                        {% if user.is_authenticated %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% else %}
                        <a
                          href="{% url 'event_detail' event.pk %}"
                          class="btn btn-primary"
                          >View more</a
                        >
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              <hr>
            {% endif %}


              <div class="row">
                {% for event in events%}
                <div class="col-sm-4">
                  <div class="card" style="width: 18rem">
                    <img
                      src="{% static event.e_image_link %}"
                      height="150px"
                      wdith="200px"
                      object-fit:cover;
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">
                        {{ event.pk }} {{event.e_name}}
                      </h5>
                      <p class="card-text">
                        {{event.e_description|truncatewords:20}}
                      </p>

                      {% if user.is_authenticated %}
                      <a
                        href="{% url 'event_detail' event.pk %}"
                        onclick="sendEvidenceToCollector({{user.id}},{{event.pk}},4)"
                        class="btn btn-primary"
                        >View more</a
                      >
                      {% else %}
                      <a
                        href="{% url 'event_detail' event.pk %}"
                        class="btn btn-primary"
                        >View more</a
                      >
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
            >
              <h1 class="h2">PERSONALIZED EVENTS</h1>
            </div>

            <div class="container-fluid">
              <div class="row" id="personalized-div">
                <div class="col-sm-4">
                  <div class="card" style="width: 18rem">
                    <img
                      src="https://img.favpng.com/20/4/16/health-fitness-and-wellness-health-care-mental-health-well-being-png-favpng-Qcdr4jvLNWnUjPNqWLFdjh8E2.jpg"
                      class="card-img-top"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                      </p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card" style="width: 18rem">
                    <img src="" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                      </p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% comment %} below is used by the extension to monitor which user is
      logged in and which user is not {% endcomment %} 
    {% if user.is_authenticated %}
      <input
        type="hidden"
        id="user_id_hidden_field"
        name="user_id_hidden_field"
        value="{{user.id}}"
        disabled
      />
      {% else %}
      <input
        type="hidden"
        id="user_id_hidden_field"
        name="user_id_hidden_field"
        value="not_logged"
        disabled
      />
      {% endif %}
    </div>

    {% if user.is_authenticated %}
      <script type="text/javascript">
        startCalls({{user.id}});
      </script>
    {% endif %}

    <script type="text/javascript">
        getLocation();
    </script>

    {% comment %} <script src="js/script.js" type="text/javascript"></script> {% endcomment %}

{% endblock %}